# Created by https://www.gitignore.io/api/django, then modified

### Django ###
*.log
*.pot
*.pyc
__pycache__/
django_vue_demo/settings.py
db.sqlite3
media
static

### Frontend ###
node_modules
webpack-stats.json
assets/bundles
assets/js/baseUrl.js

### System ###
.DS_Store
