/* Unordered lists can contain List or Item components. */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Item and List components are wrapped in a list-item. */
div.list-item {
    padding: 1rem;
    border: 1px solid #cccccc;
    margin-bottom: 1rem;
}

/* Get rid of extra flow margins inside list-items. */
div.list-item * {
    margin-bottom: 0;
}

/* Selected items should style differently. */
div.list-item.selected {
    border-left: 0.5rem solid green;
    padding-left: 0.5rem;
}